.divider {
    width: 100%;
    height: 60px;
    overflow: hidden;
    line-height: 0;
    position: relative;
}

.divider svg {
    width: 200%;
    height: 100%;
    animation: waveFloat 15s ease-in-out infinite;
}

.flip {
    transform: rotate(180deg);
}

@keyframes waveFloat {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-25%);
    }
}

@media (max-width: 768px) {
    .divider {
        height: 40px;
    }
}